<!DOCTYPE html>
<html lang="en">
<head>
  <%- defaultLibs %>
  <title>Document</title>
</head>
<body>
  <%- include("data/navbar") %>
  <h1 class="center dosis inspiration">About</h1>
  <div class="card-matte">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit pariatur alias molestiae id doloremque fugit consequuntur eaque minus voluptatum deleniti quidem praesentium neque doloribus itaque ipsum, dignissimos corrupti ea voluptates sit voluptate quasi perferendis debitis. Ex cupiditate inventore pariatur cumque quae excepturi at expedita nesciunt minima culpa cum nobis officiis dolor distinctio voluptate, quasi consequatur beatae aperiam. Hic quis debitis minus magnam vero? Quia dignissimos est adipisci numquam possimus quam voluptatem expedita non rerum. Debitis architecto ipsa ducimus voluptate, adipisci sequi minus perferendis fuga molestias, magnam quaerat, vitae saepe voluptates et illo explicabo recusandae in. Asperiores ut fugit accusamus.</p>
  </div>
</body>
</html>