<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/master.css" />
  <script src="/js/script.js"></script>
</head>
<body>
  <!-- will be moved to ejs soon -->
  <div class = "navbar">
    <span class = "navbar-title">ClearCode<span class = "domain">.tk</span></span>
    <div class = "nav-items">
      <a href = "#" class = "nav-item">Home</a>
      <a href = "#" class = "nav-item">About</a>
      <a href = "#" class = "nav-item">Resources</a>
      <a href = "#" class = "nav-item">Profile</a>
    </div>
  </div>
  <h1 class = "dosis bold center">The future of coding is here</h1>
  <div class = "card">
    hello world
  </div>
</body>
</html>