<!DOCTYPE html>
<html lang="en">

<head>
	<%- defaultLibs %>
		<title>Document</title>
</head>

<body>
	<%- include("data/navbar") %>

  <h1 class="dosis bold center inspiration">The future of coding is here</h1>
  <div class="card-matte-container">
    <div class="card-matte">
      <h2 class="center arvo">Efficiency Matters!</h2>
      <p class="vietnam">When designing ClearCode, we thought about conserving energy use. Instead of using a light theme by
        default, we thought using a dark theme that had pixels turn off for AMOLED display would prevent you from having to
        consume tons of energy.</p>
      <a class="main-button"></a>
    </div>
    <div class="card-matte">
      <h2 class="arvo center">Collaborative, Low Latency; <i>Smooth</i></h2>
      <p class = "vietnam">We know that a web-IDE isn't itself unless we have a multiplayer function built in. Some of the ones out there aren't great, hence why we built a very low latency multiplayer functionality. You will see very satisfying animations when someone adds to the code, along with nice cursor recognition.</p>
    </div>
  </div>
  <div class = "card-matte-container">
    <div class = "card-matte">
      <h2 class = "arvo center">This is ClearCode, taken to the next level</h2>
      <p>(Text to show the fact that generation 3 is very good)</p>
    </div>
  </div>
  <div class = "card-matte-container">
    <div class = "card-matte">
      <h2 class = "arvo center">Multiplayer Benefits</h2>
      <p>(Image to show multiplayer benefits)</p>
    </div>
    <div class = "card-matte">
      <h2 class = "arvo center">Beautiful Highlighting</h2>
      <p>Show syntax highlighting</p>
    </div>
    <div class = "card-matte">
      <h2 class = "arvo center">Friendly User Interface</h2>
      <p>Show user interface</p>
    </div>
  </div>

  <%- defaultScripts %>
</body>
</html>