/* Be Vietnam, Dosis, Josefin, Arvo */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Be+Vietnam&family=Dosis&family=Josefin+Sans&display=swap');

/* Globals */

:root { /* Store variables in here */
  --nav-height: 48px;
  --nav-dark: #333333;
  --bg-dark: #212121;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: var(--bg-dark);

  font-family: Verdana;
}

* {
  box-sizing: border-box;
}

.inspiration {
  font-size: 40px;
}
/* Fonts */

.vietnam {
  font-family: Be Vietnam;
}

.arvo {
  font-family: Arvo;
}

.dosis {
  font-family: Dosis;
}

.josefin {
  font-family: Josefin Sans;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.center a {
  color: rgba(68, 80, 134, 0.959);
}

/* Navbar */ 

/* 
Also add somewhite space to the css so its easier to understand
what is what
*/
.navbar { 
  display: flex;

  width: 99%;
  height: var(--nav-height);

  background: var(--nav-dark);
  box-shadow: 2px 3px 5px 4px #161616be;

  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;

  border-radius: 6px;

  justify-content: space-between; /* Adds space between the left and right item */
  align-items: center; /* Aligns all content to be horizontally and vertically centered */
}

.navbar-title {
  font-size: 24px;
  font-weight: 500;

  padding: 4px;
  margin-left: 2px;
}

.navbar-title a {
  text-decoration: none;
  color: white;
}

.nav-items {
  margin-left: auto;

  padding: 10px;
}

.nav-item {
  text-decoration: none;
  color: white;

  padding: 15px;

  margin-left: 6px;
  margin-right: 4px;
}

.nav-item:hover {
  background-color: #21212163;
  opacity: 0.7;
}

.domain {
  color: #e3ed21;
}

@media screen and (min-width: 900px) {
  .nav-burger {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-items {
    display: none;
  }
}

/* Mobile Nav */

#mobile-links {
  display: none;

  width: 95vw;
  padding: 12px;

  background-color: var(--nav-dark);

  margin-top: 12px;
  margin: auto;
}

#mobile-links a {
  display: block;

  text-decoration: none;
  color: white;

  padding: 15px;
}

.nav-burger {
  color: white;

  margin-right: 12px;

  cursor: pointer;
}

/* Cards */

.card {
  width: 60%;

  border-radius: 8px;

  background: #212121;
  box-shadow:  12px 12px 21px #1a1a1a, -12px -12px 21px #282828;

  margin: auto;
  padding: 16px;
  
}

.card-matte-container {
  display: flex;
}

.card-matte {
  flex: 1;
  
  background: var(--nav-dark);
  box-shadow: 2px 3px 6px 5px #13131367;
  
  margin: 8px;
  padding: 12px;
  
  border-radius: 8px;
  transition: 0.5s;
}

 /* Card Transitions */

.card-matte:hover {
  padding: 16px; /* SATISFYING*/
  background: rgb(105, 105, 105);
}

/* Forms */

.no-select {
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form input {
  padding: 8px;
  font-size: 14px;

  width: 99%;

  border: none;
  /* box-shadow: 12px 13px 27px #2b2a2a9f; */
  box-shadow: 6px 6px 19px 8px #1d1d1dd8;

  background: #5e5e5ed2;
  color: white;

  border-radius: 6px;
  outline: none;

  margin: 8px;
}

.form input::placeholder {
  color: rgba(196, 196, 196, 0.918);
}

.form input:focus {
  box-shadow: 5px 2px 23px 6px #0c1633d8;
}

.form input[type=file] {
  background: transparent !important;
  box-shadow: none;
  border: none;
}

.form span {
  font-size: 16px;
  margin-bottom: 4px;
  
}

.pink {
  color: #bf2ec7;
}

.name {
  font-size: 20px;
}